dotnet/FW3.5/DualListExample/DualListExample.v11.suo
dotnet/FW3.5/DualListExample/DualListExample/obj/
dotnet/FW3.5/DualListExample/DualListExample/bin/
dotnet/FW3.5/WindowsServiceThread/Thread/bin/
dotnet/FW3.5/WindowsServiceThread/Thread/obj/
dotnet/FW3.5/MVPSampleBLL/MVPSampleBLL/obj/
dotnet/FW3.5/MVPSampleBLL/MVPSampleBLL/bin/
dotnet/FW3.5/MVPSampleBLL/MVPSample/bin/
dotnet/FW3.5/MVPSampleBLL/MVPSample/obj/
dotnet/FW 4.6/Algorithms/.vs/Algorithms/v15/
dotnet/FW 4.6/Algorithms/Algorithms/bin/
dotnet/FW 4.6/Algorithms/Algorithms/obj/
dotnet/FW 4.6/ChangeRequestCreator/.vs/ChangeRequestCreator/v15/
dotnet/FW 4.6/ChangeRequestCreator/ChangeRequestCreator/bin/
dotnet/FW 4.6/ChangeRequestCreator/ChangeRequestCreator/obj/
dotnet/FW 4.6/ChangeRequestCreator/packages/
dotnet/FW 4.6/SimpleLogin/SimpleLogin.Application/bin/
dotnet/FW 4.6/SimpleLogin/SimpleLogin.Application/obj/
dotnet/FW 4.6/SimpleLogin/SimpleLogin.Domain/bin/
dotnet/FW 4.6/SimpleLogin/SimpleLogin.Domain/obj/
dotnet/FW 4.6/SimpleLogin/SimpleLogin.Infra.Data/bin/
dotnet/FW 4.6/SimpleLogin/SimpleLogin.Infra.Data/obj/
dotnet/FW 4.6/SimpleLogin/SimpleLogin/bin/
dotnet/FW 4.6/SimpleLogin/SimpleLogin/obj/
dotnet/FW 4.6/SimpleLogin/packages/
dotnet/FW 4.6/ParallelProgramming/ParallelProgramming/bin
dotnet/FW 4.6/ParallelProgramming/ParallelProgramming/obj
dotnet/core/1.0.4/AllianceReservations/.vs/
dotnet/core/1.0.4/AllianceReservations/src/Program/bin/
dotnet/core/1.0.4/AllianceReservations/src/Program/obj/
dotnet/core/1.0.4/AllianceReservations/test/Program.Tests/bin/
dotnet/core/1.0.4/AllianceReservations/test/Program.Tests/obj/
dotnet/core/1.0.4/Train/src/TicketAPI/bin//
dotnet/core/1.0.4/Train/src/TicketAPI/obj/
dotnet/core/1.0.4/Train/test/TicketServices.Tests/obj/
dotnet/core/1.0.4/Train/src/TicketServices/obj/
dotnet/core/1.0.4/Train/src/TicketServices/bin/
dotnet/core/1.0.4/AllianceReservations/src/obj/
dotnet/core/1.0.4/AllianceReservations/src/bin/
dotnet/core/1.0.4/AllianceReservations/test/bin/
dotnet/core/1.0.4/AllianceReservations/test/obj/
dotnet/core/1.0.4/AllianceReservations/src/AllianceReservations.Console/bin/
dotnet/core/1.0.4/AllianceReservations/src/AllianceReservations.Console/obj/
dotnet/core/1.0.4/Paging/.vs/Paging/v15/Server/
dotnet/core/2.0/HiperStreamInvoice.Core/HiperStreamInvoice.Core/bin/
dotnet/core/2.0/HiperStreamInvoice.Core/HiperStreamInvoice.Core/obj/
dotnet/core/2.0/HiperStreamInvoice.Core/HiperStreamInvoice.Tests/bin/
dotnet/core/2.0/HiperStreamInvoice.Core/HiperStreamInvoice.Tests/obj/
dotnet/core/2.0/HiperStreamInvoice.Core/.vs/
dotnet/core/2.0/StudentsManager/StudentManager.Domain/bin/
dotnet/core/2.0/StudentsManager/StudentManager.Domain/obj/
dotnet/core/2.0/StudentsManager/StudentsManager/bin/
dotnet/core/2.0/StudentsManager/StudentsManager/obj/
dotnet/core/2.0/StudentsManager/StudentsManager.Api/bin/
dotnet/core/2.0/StudentsManager/StudentsManager.Api/obj/
dotnet/core/2.0/StudentsManager/StudentsManager.Data/bin/
dotnet/core/2.0/StudentsManager/StudentsManager.Data/obj/
dotnet/core/2.0/StudentsManager/StudentsManager.Api/Properties/PublishProfiles/
dotnet/core/2.0/StudentsManager/.vs/StudentsManager/v15/